.container {
  width: 100%;
  height: 300px;
  border: 1px solid lightgray;
  background-color: white;
  padding: 12px 16px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  transition: transform 100ms linear;
  vertical-align: top;
  &:hover {
    transform: scale(1.03);
  }
  &[data-no-image="true"] {
    height: 130px;
  }

  p {
    color: gray;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 60%;
  border-radius: 4px;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}
