.nav {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--primaryColor);
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10%;
  justify-content: space-between;
  z-index: 99;
  ul {
    list-style: none;
    display: flex;
    width: 30%;
    justify-content: space-around;
    li {
      padding: 0 8px;
      cursor: pointer;
    }
    .link {
      color: white;
      text-decoration: none;
      &:hover {
        color: lightblue;
      }
    }
  }
}

.main {
  padding: 80px 24px 24px;
  width: 80%;
  margin: 0 auto;
}
