.banner {
  background-color: #0265a1;
  margin: -20px -24px 0;
  padding: 16px 24px;
  height: 30vh;
  position: relative;

  h1 {
    color: white;
  }
  .summary {
    color: white;
  }
}

.bannerOverlay {
  z-index: 1;
  background-color: #032e48bf;
  padding: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.date {
  color: lightblue;
}

.cardWrapper {
  display: inline-block;
  width: 25%;
  padding: 8px;
}
