.banner {
  background-color: #0265a1;
  margin: -20px 0 24px;
  padding: 16px 24px;
  height: 30vh;
  position: relative;

  h1 {
    color: white;
  }
  .summary {
    color: white;
  }
  button {
    width: 300px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 4px;
    color: var(--primaryColor);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  button:hover {
    background-color: lightgray;
  }
}

.bannerOverlay {
  z-index: 1;
  background-color: #032e48bf;
  padding: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.date {
  color: lightblue;
}

.cardWrapper {
  display: inline-block;
  width: 33.33333%;
  padding: 8px;
}
